# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/emp-app/emp-app/dist
/emp-app/emp-app/tmp
/emp-app/emp-app/out-tsc
/emp-app/emp-app/yarn.lock

# dependencies
/emp-app/emp-app/node_modules
/emp-app/emp-app/node

# IDEs and editors
/emp-app/.idea
/emp-app/.project
/emp-app/.classpath
/emp-app/target/*
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
